@inherits Elemental.Data.AeInputTextBase

@using Microsoft.AspNetCore.Components.Forms

<div class="e e-form-control-wrapper">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="e e-form-control-label" for="@Id">@Label</label>
    }
    <input class="e e-form-control" id="@Id" @bind="@CurrentValue" />
    <div class="e e-form-control-validation">
        <ValidationMessage For="@ValidationFor" />
    </div>
</div>


@code {

    protected override void OnInitialized()
    {
    }


} 
