@switch (Spinner)
{
    case Spinner.Type1:
    case Spinner.Type5:
        <div class="ae spinner @Spinner">
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
        </div>
        break;
    case Spinner.Type2:
    case Spinner.Type3:
    case Spinner.Type4:
        <div class="ae spinner @Spinner">
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
        </div>
        break;
    case Spinner.Type6:
        <div class="ae spinner @Spinner">
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
        </div>
        break;
    case Spinner.Type7:
        <div class="ae spinner @Spinner.Type7">
            <div class="straight"></div>
            <div class="curve"></div>
            <div class="center"></div>
            <div class="inner"></div>
        </div>
        break;
    default:
        <div class="ae spinner @Spinner"></div>
        break;
}
