@inherits HtmlElement


@if (Variant == "h1")
{
    <h1 class="@_classname" @attributes="@InputAttributes" >@ChildContent</h1>
}
else if (Variant == "h2")
{
    <h2 class="@_classname" @attributes="@InputAttributes">@ChildContent</h2>
}
else if (Variant == "h3")
{
    <h3 class="@_classname" @attributes="@InputAttributes">@ChildContent</h3>
}
else if (Variant == "h4")
{
    <h4 class="@_classname" @attributes="@InputAttributes">@ChildContent</h4>
}
else if (Variant == "paragraph")
{
    <p class="@_classname" @attributes="@InputAttributes">@ChildContent</p>
}
else 
{
    <div class="@_classname" @attributes="@InputAttributes">@ChildContent</div>
}



@code {
    [Parameter]
    public string Variant {get; set; }

    private string _classname => $"ae {Variant} {_inputClass}";
}
