@*
 Copyright 2020 Apption Corporation
 
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*@

@namespace AElemental.Components
@inherits HtmlInputElement

@if(Pre is null && Post is null)
{
    <input @attributes="InputAttributesWithoutClass" type="text" class="@_classname" @bind-value="_inputValue" @bind-value:event="oninput" @onkeyup="HandleKeyUp" placeholder="@Placeholder" />
}
else
{
<span class="@_wrapperClassname" @attributes="InputAttributesWithoutClass">
    @if(Pre != null)
    {
        <span class="ae input-sider pre">
            @Pre
        </span>
    }
    <input type="text" class="@_wrappedInputClassname" @bind-value="_inputValue" @bind-value:event="oninput" @onkeyup="HandleKeyUp" placeholder="@Placeholder" />
    @if(Post != null)
    {
        <span class="ae input-sider post">
            @Post
        </span>
    }
</span>
}

@code {
    [Parameter]
    public RenderFragment Pre { get; set; }
    [Parameter]
    public RenderFragment Post { get; set; }

    private string _wrapperClassname => $"ae input-wrapper {_inputClass}";
    private string _wrappedInputClassname => $"ae input {(Pre != null ? "has-pre" : "")} {(Post != null ? "has-post" : "")}";
    private string _classname => $"ae input {_inputClass}";
}
