@using Elemental;

@if(file != null)
{
    <Flex Vertical class="demo-section">
        @if(file.Title != null)
        {
            <Typography Variant="h2">@file.Title</Typography>
        }
        @if(file.Description != null)
        {
            <Typography>@file.Description</Typography>
        }
        @if(file.Html != null)
        {
            <Flex Vertical>
                <Typography Variant="h3">Example</Typography>
                @ChildContent
            </Flex>
        }
        @if(file.Code.Count > 0 || file.Html.Count > 0)
        {
            <Flex Vertical>
                <Typography Variant="h3">Source</Typography>
                @if (file.Html.Count > 0)
                {
                    <Typography style="margin-top: 0;" Variant="h4">Markup</Typography>
                    <pre style="margin: 0"><code class="language-html">@(string.Join(System.Environment.NewLine, file.Html))</code></pre>
                }
                @if (file.Code.Count > 0)
                {
                    <Typography style="margin-top: .75rem;" Variant="h4">C#</Typography>
                    <pre style="margin: 0"><code class="language-csharp">@(string.Join(System.Environment.NewLine, file.Code))</code></pre>
                }
            </Flex>
        }
    </Flex>
}
else
{
    <div>File not found: @Path</div>
}

@code {
    [Parameter]
    public string Path { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private ParsedFile file;

    protected override void OnInitialized()
    {
        file = new ParsedFile(Path);
    }
}
