@typeparam T
@using System.ComponentModel.DataAnnotations

<div class="e e-form-control-wrapper">
    <AeFormLabel PropertyInfo="@PropertyInfo"/>

    <p>
    @if (HasStringLength() is null)
    {
        <Microsoft.AspNetCore.Components.Forms.InputTextArea @bind-Value="PropertyValue" class="ae input" placeholder="@FormTools.GetPlaceHolder(PropertyInfo)" cols="@FormTools.GetSize(PropertyInfo)"/>
    }
    else
    {
        <Microsoft.AspNetCore.Components.Forms.InputText @bind-Value="PropertyValue" class="ae input" placeholder="@FormTools.GetPlaceHolder(PropertyInfo)" size="@FormTools.GetSize(PropertyInfo)" />
    }
    </p>
</div>

@code {
    [Parameter]
    public System.Reflection.PropertyInfo PropertyInfo { get; set; }

    [Parameter]
    public T Instance { get; set; }


    public string PropertyValue
    {
        get => PropertyInfo.GetValue(Instance) as string;
        set
        {
            PropertyInfo.SetValue(Instance, value);
        }
    }

    private string GetID() => PropertyInfo.Name;



    private int? HasStringLength()
    {
        var att = StringLengthAttribute.GetCustomAttribute(PropertyInfo, typeof(StringLengthAttribute)) as StringLengthAttribute;
        return att?.MaximumLength;
    }

}
