@inherits HtmlElement
@inject IJSRuntime JSRuntime

<a class="@_sidenavItem" href="@(Link.To ?? Link?.ChildLinks.FirstOrDefault().To)" @onclick="NotifyInteropClick" @attributes="@InputAttributesWithoutClass">
    @if (!string.IsNullOrEmpty(Link.IconName))
    {
        <AeIcon Icon="@Link.IconName" IconStyle="@Link.IconStyle" class="@($"{Link.IconClassName}")"/>
    }
    <div class="sidenav-text">@Link.Label</div>    
</a>


@code {
    [Parameter]
    public AeNavLink Link { get; set; }

    [Parameter]
    public bool Main { get; set; }


    private string _sidenavItem => $"ae sidenav-item {(Main ? "main" : "")} {Link.IconClassName}";
    private async Task NotifyInteropClick()
    {
        await JSRuntime.InvokeAsync<string>("sidenav.updateNav");
    }       
}
