@*
Copyright 2020 Apption Corporation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*@

@namespace AElemental.Components
@inherits HtmlElement

<ae-layout class="@_classname" style="@_layoutStyle"  @attributes="@InputAttributesWithoutClassOrStyle">
    <div style="@_sidebarStyle">sidebar</div>
    <div style="@_appbarStyle">appbar</div>
    <div style="@_bodyStyle">@ChildContent</div>
</ae-layout>

@code {
    
    private string? _classname;
    
    private string? _layoutStyle;
    private string? _bodyStyle;
    private string? _sidebarStyle;
    private string? _appbarStyle;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        
        _layoutStyle = new AeStyleBuilder()
            .AddStyle("font-family", "var(--body-font)")
            .AddStyle("display", "grid")
            .AddStyle("grid-template-columns", "200px 1fr")
            .AddStyle("grid-template-rows", "auto 1fr")
            .AddStyle("grid-template-areas", "'sidebar appbar' 'sidebar body'")
            .AddStyleFromAttributes(InputAttributes)
            .NullIfEmpty();  
        
        _bodyStyle = new AeStyleBuilder()
            .AddStyle("grid-area", "body")
            .AddStyle("background-color", CssVars.NeutralLayerCardContainer)
            .NullIfEmpty();
        
        _sidebarStyle = new AeStyleBuilder()
            .AddStyle("grid-area", "sidebar")
            .AddStyle("max-height", "100vh")
            .AddStyle("height", "100%")
            .AddStyle("overflow-y", "auto")
            .AddStyle("position", "sticky")
            .AddStyle("top", "0")
            .AddStyle("background-color", CssVars.NeutralLayerFloating)
            .NullIfEmpty();
        
        _appbarStyle = new AeStyleBuilder()
            .AddStyle("grid-area", "appbar")
            .AddStyle("position", "sticky")
            .AddStyle("top", "0")
            .AddStyle("background-color", CssVars.NeutralLayerFloating)
            .AddStyle("z-index", "101")
            .NullIfEmpty();
        
        _classname = new AeCssBuilder()
            .AddClassFromAttributes(InputAttributes)
            .NullIfEmpty();
    }
}