@*
Copyright 2020 Apption Corporation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*@

@namespace AElemental.Components
@inherits HtmlElement

<ae-layout style="@_layoutStyle">
    <bx-header aria-label="AElemental Name">
        <bx-header-menu-button button-label-active="Close menu" button-label-inactive="Open menu"></bx-header-menu-button>
        <bx-header-name href="javascript:void 0">
            @HeaderName
        </bx-header-name>
        <bx-header-nav menu-bar-label="AElemental">
            <bx-header-nav-item href="javascript:void 0">Components</bx-header-nav-item>
            <bx-header-nav-item href="javascript:void 0">Github</bx-header-nav-item>
            <bx-header-menu menu-label="About Us" trigger-content="About Us">
                <bx-header-menu-item href="javascript:void 0">Dev Blog</bx-header-menu-item>
                <bx-header-menu-item href="javascript:void 0">Datahunter</bx-header-menu-item>
                <bx-header-menu-item href="javascript:void 0">Apption</bx-header-menu-item>
            </bx-header-menu>
        </bx-header-nav>
    </bx-header>
    @if (_hasSidenav)
    {
        <bx-side-nav aria-label="Side navigation" expanded style="@_sidenavStyle">
            <bx-side-nav-items>
                @foreach (var item in SideNavLinks)
                {
                    if (item.SubLinks != null && item.SubLinks.Any())
                    {
                        <bx-side-nav-menu title="@item.Name">
                            @if (item.Icon != null)
                            {
                                <AeIcon slot="title-icon" RxIconName="@item.Icon"/>
                            }
                            @foreach (var subItem in item.SubLinks)
                            {
                                <bx-side-nav-menu-item href="@subItem.Url">
                                    @subItem.Name
                                </bx-side-nav-menu-item>
                            }
                        </bx-side-nav-menu>
                    }
                    else
                    {
                        <bx-side-nav-link href="@item.Url">
                            @if (item.Icon != null)
                            {
                                <AeIcon slot="title-icon" RxIconName="@item.Icon"/>
                            }
                            @item.Name
                        </bx-side-nav-link>
                    }
                }
                @* <bx-side-nav-menu title="L0 menu"> *@
                @*     <bx-side-nav-menu-item href="www.ibm.com"> L0 menu item </bx-side-nav-menu-item> *@
                @*     <bx-side-nav-menu-item href="www.ibm.com"> L0 menu item </bx-side-nav-menu-item> *@
                @*     <bx-side-nav-menu-item href="www.ibm.com"> L0 menu item </bx-side-nav-menu-item> *@
                @* </bx-side-nav-menu> *@
                @* <bx-side-nav-menu title="L0 menu"> *@
                @*     <bx-side-nav-menu-item href="www.ibm.com"> L0 menu item </bx-side-nav-menu-item> *@
                @*     <bx-side-nav-menu-item active aria-current="page" href="www.ibm.com"> L0 menu item </bx-side-nav-menu-item> *@
                @*     <bx-side-nav-menu-item href="www.ibm.com"> L0 menu item </bx-side-nav-menu-item> *@
                @* </bx-side-nav-menu> *@
                @* <bx-side-nav-menu title="L0 menu"> *@
                @*     <AeIcon slot="title-icon" RxIconName="home-smile"/> *@
                @*     <bx-side-nav-menu-item href="www.ibm.com"> L0 menu item </bx-side-nav-menu-item> *@
                @*     <bx-side-nav-menu-item href="www.ibm.com"> L0 menu item </bx-side-nav-menu-item> *@
                @*     <bx-side-nav-menu-item href="www.ibm.com"> L0 menu item </bx-side-nav-menu-item> *@
                @* </bx-side-nav-menu> *@
                @* <bx-side-nav-divider></bx-side-nav-divider> *@
                @* <bx-side-nav-link href="javascript:void(0)">L0 link</bx-side-nav-link> *@
                @* <bx-side-nav-link href="javascript:void(0)">L0 link</bx-side-nav-link> *@
            </bx-side-nav-items>
        </bx-side-nav>
    }
    <main style="@_mainStyle">
        @ChildContent
    </main>
</ae-layout>

@code {

    private string? _classname;

    private string? _layoutStyle;
    private string? _mainStyle;
    private string? _sidenavStyle;
    private string? _headerStyle;

    [Parameter]
    public RenderFragment? HeaderName { get; set; }

    [Parameter]
    public RenderFragment? HeaderMenu { get; set; }

    [Parameter]
    public List<AeSideNavLink>? SideNavLinks { get; set; }


    private bool _hasSidenav => SideNavLinks != null && SideNavLinks.Any();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _layoutStyle = new AeStyleBuilder()
            .AddStyle("font-family", "'Ropa Sans', Roboto, sans-serif")
            .AddStyleFromAttributes(InputAttributes)
            .NullIfEmpty();

        _mainStyle = new AeStyleBuilder()
            .AddStyle("margin-left", "16rem", when: _hasSidenav)
            .NullIfEmpty();

        @if (_hasSidenav)
        {
            _sidenavStyle = new AeStyleBuilder()
                .AddStyle("margin-top", "3rem")
                .AddStyle("height", "calc(100% - 3rem)")
                .AddStyle("z-index", "7999")
                .NullIfEmpty();
        }

        _headerStyle = new AeStyleBuilder()
            .NullIfEmpty();

        _classname = new AeCssBuilder()
            .AddClassFromAttributes(InputAttributes)
            .NullIfEmpty();
    }

}